@{
    ViewData["Title"] = "Privacy Policy";
}


@model Dojo_Survay_wm.Models.Survey
<h1>@ViewData["Title"]</h1>

    <p>Name: @Model.Name</p>
    <p>location: @Model.Location</p>
    <p>language:  @Model.Language</p>
    <p>comment:  @Model.Comment</p>
<a href="/"><button>Go Back</button></a>
